<div class="container">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading" class="content">
    <h1>Submissions management</h1>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let e of events">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{e.droneId}}
          </mat-panel-title>
          <mat-panel-description>
            Submissions: {{e.submissions.length}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="2" rowHeight="400px">
          <mat-grid-tile>
            <div class="event-data">
              <div matRipple>
                <img (click)="fullimage(e.image)" class="mat-elevation-z8 event-image" [src]="e.image" />
              </div>
              <h4>Reported at: {{e.reportedAt | date : 'short'}}</h4>
              <h4>Status: {{e.status}}</h4>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
              <app-submission-card (accepted)="accepted(e)" (declinedAccepted)="declinedAccepted(e)" *cdkVirtualFor="let s of e.submissions" [submission]="s"></app-submission-card>
            </cdk-virtual-scroll-viewport>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
