<div class="container">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading" class="content">
    <h1>Submissions management</h1>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let e of events">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{e.droneId}}
          </mat-panel-title>
          <mat-panel-description>
            Submissions: {{e.submissions.length}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="2" rowHeight="400px">
          <mat-grid-tile>
            <img class="mat-elevation-z8 event-image" [src]="e.image" />
          </mat-grid-tile>
          <mat-grid-tile>
            <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
              <app-submission-card *cdkVirtualFor="let s of e.submissions" [submission]="s"></app-submission-card>
            </cdk-virtual-scroll-viewport>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
