img {
  width: 100%;
  max-width: 320px;
}

.comments-container {
  display: block;
  justify-content: space-between;
  flex-direction: column;
  max-height: 100%;
}

mat-tab {
  height: 100%;
}

.event-image {
  cursor: pointer;
}

.submit-tab {
  display:flex;
  justify-content: center;
}

mat-card {
  margin: 10px;
}

.message {
  margin: 0 16px;
}

cdk-virtual-scroll-viewport {
  height: 400px;
  width: 100%;
}

mat-form-field {
  display: block;
}

.solution-form {
  margin: 16px;
}

.submit-button {
  margin-left: 16px;
}

.new-comment {
  display: flex;
  justify-content: center;

  margin-top: 20px;
  form {
    width: 80%;

    mat-form-field {
      width: 100%;
      margin: 0 10px;
    }
  }
}
