<div class="container">
  <div matRipple>
    <img class="event-image" (click)="fullimage(event.image)" [src]="event.image" />
  </div>
  <mat-tab-group>
    <mat-tab label="Comments">
      <div class="comments-container">
        <div class="comments">
          <cdk-virtual-scroll-viewport #virtualScroll itemSize="50">
            <mat-card class="mat-elevation-z5" *cdkVirtualFor="let c of event.comments">
              <mat-card-header>
                <mat-card-title>{{c.postedBy.name}}</mat-card-title>
                <mat-card-subtitle>{{c.postedAt | date : 'short'}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p class="message">{{c.message}}</p>
              </mat-card-content>
            </mat-card>
          </cdk-virtual-scroll-viewport>
        </div>
        <div class="new-comment">
          <form [formGroup]="commentForm">
            <mat-form-field>
              <textarea (keyUp.enter)="onCommentSubmit()" formControlName="message" matInput
                placeholder="Leave a comment"></textarea>
            </mat-form-field>
          </form>
        </div>
      </div>
    </mat-tab>
    <mat-tab class="submit-tab" label="Solution">
      <ng-container *ngIf="event.status !== 'CLOSED'">
        <form class="solution-form" [formGroup]="solutionForm">
          <mat-form-field>
            <textarea placeholder="Message" matInput type="text" formControlName="message"></textarea>
          </mat-form-field>

          <mat-form-field>
            <ngx-mat-file-input formControlName="image" placeholder="Image" [accept]="['.png', '.jpg']">
            </ngx-mat-file-input>
          </mat-form-field>
        </form>

        <button class="submit-button" [disabled]="solutionForm.invalid" (click)="onSolutionSubmit()" mat-raised-button
          color="primary">SUBMIT</button>
      </ng-container>

      <ng-container *ngIf="event.status === 'CLOSED'">
        <app-submission-card [displayActions]="false" [submission]="acceptedSubmission"></app-submission-card>
      </ng-container>

    </mat-tab>
  </mat-tab-group>
</div>
