@import '~@angular/material/theming';

mat-drawer-container {
  height: 100%;
}

img {
    max-width: 30px;
}

.upper-links {
  margin-top: 50px;
}

.lower-links {
    margin-bottom: 50px;
}

mat-drawer ::ng-deep .mat-drawer-inner-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    display: block;
    padding: 10px;
    border-radius: 0;
}

.active {
    background: #00bcd4;
}

.router-container {
    padding: 20px;
}